@color_primary: #54432e;
@color_secondary: #b58f62;
@color_subtitle: rgba(108, 86, 59, 0.64);
@color_subtitle_2: rgba(108, 86, 59, 0.72);
@background_color_1: rgba(31, 29, 29, 0.59);

@gil_bold: Gilroy-Bold;
@gil_semibold: Gilroy-SemiBold;
@gil_black: Gilroy-Black;
@gil_extrabold: Gilroy-ExtraBold;
@gil_medium: Gilroy-Medium;
@sf_medium: SF-Medium;
@segoe_bold: Segoe-Bold;

@font-face {
  font-family: Segoe-Bold;
  src: url(/fonts/segoescb.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/fonts/Gilroy-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF-Medium;
  src: url(/fonts/SF_MED.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Black;
  src: url(/fonts/Gilroy-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/fonts/Gilroy-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(/fonts/Gilroy-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(/fonts/Gilroy-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}

:root {
  --ham-dimensions: 32px;
}
a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
  &:visited {
    text-decoration: none;
    color: #000;
  }
  &:active {
    text-decoration: none;
    color: #000;
  }
}
html {
  font-size: 16px;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  line-height: 1.5;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: inherit;
  &::-webkit-scrollbar-track {
    background-color: @background_color_1;
  }
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
img {
  display: block;
  max-width: 100%;
}
picture {
  display: block;
  max-width: 100%;
}
video {
  display: block;
  max-width: 100%;
}
canvas {
  display: block;
  max-width: 100%;
}
svg {
  display: block;
  max-width: 100%;
}
input {
  font: inherit;
}
button {
  font: inherit;
}
textarea {
  font: inherit;
}
select {
  font: inherit;
}
p {
  overflow-wrap: break-word;
  font-weight: normal;
}
h1 {
  overflow-wrap: break-word;
  font-weight: normal;
}
h2 {
  overflow-wrap: break-word;
  font-weight: normal;
}
h3 {
  overflow-wrap: break-word;
  font-weight: normal;
}
h4 {
  overflow-wrap: break-word;
  font-weight: normal;
}
h5 {
  overflow-wrap: break-word;
  font-weight: normal;
}
h6 {
  overflow-wrap: break-word;
  font-weight: normal;
}
.nav-btn-wrapper {
  display: block;
  justify-content: flex-end;
  z-index: 99;
}
.nav-btn {
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background: unset;
  cursor: pointer;
  display: flex;
  padding: 0;
  .line {
    fill: transparent;
    stroke: #fff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

    &.nav-light {
      stroke: #30473c;
    }
  }
  .line1 {
    stroke-dasharray: 60 207;
  }
  .line2 {
    stroke-dasharray: 60 60;
  }
  .line3 {
    stroke-dasharray: 60 207;
  }
}
.nav-open {
  .line {
    stroke: @color_primary;
  }
  .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
  .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px !important;
  height: 36px !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  color: rgba(0, 0, 0, 1);
}

.ril__outer {
  background-color: rgba(0, 0, 0, 0.78) !important;
  backdrop-filter: blur(12px);
}

.heading {
  font-family: @gil_extrabold;
  font-size: 1.72rem;
  background: linear-gradient(
    95.675deg,
    rgba(243, 216, 170, 90%) 0%,
    rgba(222, 188, 125, 92%) 32%,
    #ad823d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 26px;
  text-transform: uppercase;
}
.heading.hero {
  color: #fff;
}

.heading.verified {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: #b58f62;
  background: none;
  font-size: 1.36rem;
}

.heading.whyus {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.36rem;
}

.heading.works {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.36rem;
}

.heading.earnings {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.36rem;
}

.heading.proof {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.36rem;
  max-width: 280px;
  line-height: 22px;

  span {
    -webkit-text-fill-color: #11a60c;
  }
}

.heading.faq {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.36rem;
}

.heading.auth {
  text-transform: none;
  font-family: @gil_bold;
  -webkit-text-fill-color: @color_primary;
  background: none;
  font-size: 1.4rem;
  max-width: 220px;
  text-align: center;
  line-height: 22px;
}

.subheading {
  font-family: @gil_medium;
  font-size: 0.96rem;
  line-height: 20px;
  color: #fff;
}
.subheading.verified {
  color: @color_subtitle_2;
}

.subheading.works {
  color: @color_subtitle_2;
}

.subheading.proof {
  color: #54432e;
}

.btn-primary {
  font-family: @gil_extrabold;
  font-size: 1rem;
  background: linear-gradient(
    -92.715deg,
    rgba(243, 216, 170, 90%) 0%,
    rgba(222, 188, 125, 92%) 32%,
    #ad823d 100%
  );
  color: #3d2908;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
  flex: 1;
  text-wrap: nowrap;
  box-shadow: inset 0px 4px 4px 0px rgba(61, 41, 8, 80%),
    inset -4px -4px 4px 0px #3d2908;

  &:hover {
    box-shadow: inset 0px 6px 6px 0px rgba(61, 41, 8, 90%),
      inset -6px -6px 6px 0px #3d2908;
  }
}

.btn-secondary {
  font-family: @gil_extrabold;
  font-size: 1rem;
  background: #fff;
  color: #3d2908;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
  box-shadow: inset 0px 4px 4px 0px rgba(103, 103, 103, 80%),
    inset -4px -4px 4px 0px #b2b2b2;

  &:hover {
    box-shadow: inset 0px 4px 4px 0px rgba(103, 103, 103, 90%),
      inset -6px -6px 6px 0px #b2b2b2;
  }
}

.verified-card {
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 12%);
  width: 100%;
  height: auto;
  padding: 4px;
  flex-direction: column;
  gap: 16px;

  .images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
    position: relative;

    img {
      flex: 1 1 0;
      max-width: 32vw; // responsive: each image max 32% of viewport width
      min-width: 0; // allow shrinking
      height: auto;
      object-fit: contain;
      display: block;
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    justify-content: space-around;
    padding: 12px 0;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        margin-bottom: 4px;
      }

      h3 {
        font-family: @gil_bold;
        font-size: 0.96rem;
        color: @color_primary;
      }
    }
  }
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .logo {
    img {
      height: 56px;
      object-fit: contain;
    }
  }

  .profile-pic {
    margin-bottom: 4px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  height: 100%;

  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    width: auto;
    z-index: 100;
    background: #010101;
    align-items: baseline;
    justify-content: space-between;

    .logo {
      z-index: 10;

      img {
        cursor: pointer;
        height: 56px;
        object-fit: contain;
      }
    }
    .ham-menu-anim {
      display: flex;
      width: 32px;
      height: 32px;
      border: none;
      cursor: pointer;
    }

    .mobile-menu {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      background: #fff;
      z-index: 5;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      padding: 120px 0 32px;
    }
    .mobile-menu.open {
      display: flex;
      animation: forwards 0.5s slideIn;
    }

    &.nav-light {
      background: #fff;
      backdrop-filter: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #010101;
    padding: 48px 16px 32px;

    .text-container {
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 16px;

      .btn-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 8px;
      }
    }

    img {
      margin-top: -96px;
    }
  }

  .verified-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    gap: 24px;
    // border-bottom: 1px solid rgba(253, 245, 236, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .text-container {
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 16px;
    }
  }

  .whyus-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    gap: 64px;
    align-items: center;
    justify-content: center;
    // border-bottom: 1px solid rgba(253, 245, 236, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .why-us-cards-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 100%;

      .why-us-card {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-height: 160px;
        align-self: flex-end;

        .text-container {
          display: flex;
          flex-direction: column;
          align-self: self-end;

          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-bottom: 12px;
          }

          h4 {
            font-family: @gil_bold;
            font-size: 1.32rem;
            color: @color_primary;
            line-height: 20px;
          }

          p {
            font-family: @gil_medium;
            font-size: 0.96rem;
            color: @color_subtitle_2;
            line-height: 18px;
            margin-top: 8px;
          }
        }
      }

      // Make the first card span both columns
      .why-us-card:first-child {
        grid-column: 1 / span 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        min-height: 200px;

        .text-container {
          flex: 0.5;
          display: flex;
          flex-direction: column;
          align-self: self-end;
          padding-bottom: 20px;

          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-bottom: 12px;
          }

          h4 {
            font-family: @gil_bold;
            font-size: 1.32rem;
            color: @color_primary;
            line-height: 20px;
          }

          p {
            font-family: @gil_medium;
            font-size: 0.96rem;
            color: @color_subtitle_2;
            line-height: 18px;
            margin-top: 8px;
          }
        }
        img:last-child {
          position: absolute;
          right: 0;
          bottom: 0;
          max-width: 200px;
          height: auto;
          margin-left: 24px;
        }
      }
    }
  }

  .works-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    // border-bottom: 1px solid rgba(253, 245, 236, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
    }

    .steps-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      align-items: center;
      justify-content: center;

      .step {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        max-width: 260px;

        .image-container {
          width: 56px;
          height: 56px;
          border-radius: 120px;
          border: 2.5px solid #54432e;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
        }

        .text-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
          align-items: center;
          justify-content: center;

          span {
            font-family: @gil_semibold;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: rgba(108, 86, 59, 0.72);
            line-height: 14px;
          }

          h4 {
            font-family: @gil_bold;
            font-size: 1.08rem;
            color: #b58f62;
          }

          p {
            font-family: @gil_medium;
            font-size: 0.96rem;
            color: rgba(108, 86, 59, 0.64);
            line-height: 20px;
          }
        }
      }
    }
  }

  .badge-container {
    display: flex;
    flex-direction: row;
    gap: 24px;

    img {
      width: 96px;
      object-fit: contain;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 6px;

      h3 {
        font-family: @gil_bold;
        font-size: 1.08rem;
        color: @color_primary;
        line-height: 20px;
      }

      p {
        font-family: @gil_medium;
        font-size: 0.96rem;
        color: @color_subtitle_2;
        line-height: 20px;
      }
    }
  }

  .earnings-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    gap: 32px;
    align-items: center;
    // border-bottom: 1px solid rgba(253, 245, 236, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .earning-cards-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 100%;

      .earning-card {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
        padding: 16px;
        display: flex;
        position: relative;
        overflow: hidden;
        z-index: 2;
        min-height: 200px !important;

        .text-container {
          display: flex;
          flex-direction: column;
          flex: 1;

          span {
            font-family: @gil_semibold;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: rgba(108, 86, 59, 0.72);
            line-height: 14px;
          }

          h2 {
            font-family: @gil_bold;
            font-size: 1.8rem;
            line-height: 32px;
            color: @color_primary;
            letter-spacing: -0.5px;

            span {
              font-size: 1.2rem;
              text-transform: none;
              color: @color_primary;
            }
          }

          .member-heading {
            font-family: @gil_bold;
            font-size: 1.2rem;
            line-height: 24px;
            color: @color_primary;
            letter-spacing: -0.5px;

            span {
              font-size: 0.96rem;
              text-transform: none;
              color: @color_primary;
            }
          }

          .image-container {
            padding-top: 6px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: fit-content;
            gap: 2px;
            column-gap: 6px;

            img {
              width: 32px;
              height: 32px;
              object-fit: contain;
            }
          }

          .earth {
            position: absolute;
            right: -48px;
            bottom: -20px;
            width: 9rem;
          }
        }

        .coins {
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }

      // Make the first card span both columns
      .earning-card:first-child {
        grid-column: 1 / span 2;
        flex-direction: column;
        position: relative;
        min-height: 180px;
        justify-content: space-between;

        .text-container {
          display: flex;
          flex-direction: column;

          span {
            font-family: @gil_semibold;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: rgba(108, 86, 59, 0.72);
            line-height: 14px;
          }

          h2 {
            font-family: @gil_bold;
            font-size: 1.8rem;
            line-height: 32px;
            color: @color_primary;
            letter-spacing: -0.5px;
          }
        }
        img {
          width: 100%;
          height: auto;
          padding: 0 12px;
        }
      }
    }
  }

  .why-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 32px 24px;
    background: #110b02;
    gap: 16px;
    overflow: hidden;

    .highlight {
      font-size: 0.88rem;
      font-family: @gil_medium;
      color: #a3a3a3;
      text-transform: uppercase;
    }

    .title {
      line-height: 28px;
      font-size: 1.56rem;
      font-family: @gil_bold;
      max-width: 320px;
      color: #fff;
    }

    .features-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 32px;
      margin-bottom: 32px;
      align-items: center;
      width: 100%;
      position: relative;

      .feature {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        width: 100%;
        background: rgba(22, 16, 5, 0.44);
        border-radius: 8px;
        border: 1px solid #54432e;
        position: relative;
        padding: 0 20px 20px 20px;

        .glow {
          position: absolute;
          width: 60%;
          height: 3px;
          background: linear-gradient(
            90deg,
            #6c563b 0%,
            #fbebd9 50%,
            #fdf5ec 75%,
            #d9ac76 88%,
            #54432e 100%
          );
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }

        .text-container {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
          text-align: left;

          h2 {
            font-size: 1.5rem;
            font-family: @gil_bold;
            color: #fff;
            line-height: 22px;
            font-weight: 100;
          }

          p {
            font-size: 1rem;
            font-family: @gil_medium;
            color: #fff;
            line-height: 20px;
          }
        }

        &.money {
          img {
            width: 15rem;
            filter: grayscale(1);
            z-index: 0;
          }
        }

        &.quick {
          img {
            width: 6rem;
            margin-top: 36px;
          }
        }

        &.trust {
          img {
            width: 6rem;
            margin-top: 36px;
          }
        }

        &.money::before {
          content: "";
          position: absolute;
          top: -360px;
          left: -24px;
          background: url(/assets/features/gradient.svg);
          width: 109.5%;
          height: 1040px;
        }

        &.quick::before {
          content: "";
          position: absolute;
          top: -200px;
          left: -24px;
          background: url(/assets/features/gradient.svg);
          width: 109.5%;
          height: 1040px;
        }

        &.trust::before {
          content: "";
          position: absolute;
          top: -80px;
          left: -24px;
          background: url(/assets/features/gradient.svg);
          width: 109.5%;
          height: 1000px;
        }
      }
    }

    .features-container::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 100%;
      height: -webkit-fill-available;
      background: url(/assets/features/bg.png);
      z-index: 0;
      background-size: contain;
      background-repeat: round;
      top: -40px;
      bottom: -40px;
    }
  }

  .testimonials-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 0;
    gap: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;

    .title {
      background: #fef9f3;
      border: 2px solid #54432e;
      border-radius: 70px;
      padding: 4px 16px;

      span {
        font-family: @gil_semibold;
        font-size: 0.96rem;
        color: @color_primary;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: @sf_medium;
        font-size: 1.72rem;
        color: #a3a3a3;
        line-height: 32px;
        text-align: center;
        padding: 0 16px;

        span {
          color: @color_primary;
        }
      }

      .user-details {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;

        p {
          font-family: @sf_medium;
          font-size: 1rem;
          color: @color_primary;
        }

        .details {
          display: flex;
          flex-direction: row;
          gap: 2px;
          align-items: center;
          justify-content: center;

          .location {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }

          span {
            font-family: @sf_medium;
            font-size: 0.96rem;
            color: #adadad;
          }

          span::after {
            content: "|";
            margin: 0 2px 0 6px;
            color: #adadad;
          }

          .stars {
            height: 18px;
            width: auto;
          }
        }
      }
    }

    .image-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-top: 72px;
      margin-bottom: 8px;
      width: 100%;
      overflow: visible !important;
      position: relative;

      .swiper {
        padding: 0 !important;
      }

      .swiper-wrapper {
        align-items: center;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        transition: transform 0.3s;

        .testimonial-img {
          width: 160px;
          height: 160px;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;
          border-radius: 16px;
          overflow: hidden;
          box-shadow: none;
          opacity: 0.7;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }
        .testimonial-img.active {
          width: 180px;
          height: 180px;
          opacity: 1;
          transform: translateY(-36px) scale(1.18);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
          z-index: 2;
          cursor: default;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .testimonial-img.prev,
        .testimonial-img.next {
          z-index: 1;
        }

        &.swiper-slide-active .testimonial-img {
          width: 160px;
          height: 160px;
          opacity: 1;
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
          transform: translateY(-36px) scale(1.32);
          z-index: 2;
        }
      }
    }

    .image-container::before {
      content: "";
      position: absolute;
      left: -140px;
      bottom: -56px;
      width: 200px;
      height: 300px;
      background: #fff;
      border-radius: 1000px;
      border: 1px solid #d9d9d9;
      filter: blur(24px);
      z-index: 2;
    }

    .image-container::after {
      content: "";
      position: absolute;
      right: -140px;
      bottom: -56px;
      width: 200px;
      height: 300px;
      background: #fff;
      border-radius: 1000px;
      border: 1px solid #d9d9d9;
      filter: blur(24px);
      z-index: 2;
    }

    .slider-dots {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 8px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d9d9d9;
        cursor: pointer;
        transition: background 0.2s;
        &.active {
          background: #b58f62;
        }
      }
    }
  }

  .proof-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 16px;
    background: #f4f5f4;
    overflow: hidden;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .image-container {
      display: flex;
      flex-direction: row;
      gap: 16px;

      img {
        width: 66vw;
      }
    }
  }

  .whatsapp-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px;
    background: #075e54;
    // align-items: center;
    overflow: hidden;

    .text-container {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      margin: 0 auto;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }

      h2 {
        font-family: @gil_bold;
        font-size: 1.24rem;
        color: #fff;
        line-height: 28px;
      }
    }

    .image-container {
      display: flex;
      flex-direction: row;
      gap: 24px;
      overflow-x: scroll !important; /* 👉 Horizontal scroll enable */
      padding-bottom: 8px;

      img {
        width: auto;
        max-width: 240px;
        height: auto;
        border-radius: 12px;
      }
    }
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 16px;
    background: #fef9f3;
    overflow: hidden;
    align-items: center;

    .title {
      background: #f7eadc;
      border-radius: 70px;
      padding: 4px 16px;
      width: fit-content;
      margin: 0 auto;

      span {
        font-family: @gil_semibold;
        font-size: 0.96rem;
        color: @color_primary;
      }
    }

    .faq-card-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
    }

    .faq-card {
      background: #fff;
      border-radius: 12px;
      padding: 16px 20px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .faq-question {
      font-family: @gil_semibold;
      font-size: 1rem;
      color: #54432e;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .faq-answer {
      margin-top: 8px;
      font-family: @gil_medium;
      font-size: 0.95rem;
      color: #909090;
      line-height: 1.6;
    }

    .arrow {
      font-size: 0.9rem;
      color: #54432e;
      transition: transform 0.3s ease;
    }

    .faq-card.active .arrow {
      transform: rotate(180deg);
    }
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 16px;

    .soon {
      font-family: @segoe_bold;
      font-size: 1.08rem;
      color: #bebebe;
      text-align: center;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      img {
        width: 160px;
        object-fit: contain;
      }

      p {
        font-family: @gil_semibold;
        font-size: 0.96rem;
        color: @color_primary;
        line-height: 20px;
      }
    }

    .links-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .link {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
          font-family: @gil_bold;
          font-size: 1.08rem;
          color: @color_primary;
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 6px;

          a {
            font-family: @gil_medium;
            font-size: 0.96rem;
            color: #7a7a7a;
            transition: color 0.2s;

            &:hover {
              color: @color_primary;
            }
          }

          .item {
            display: flex;
            flex-direction: row;
            gap: 8px;

            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }

            span {
              font-family: @gil_medium;
              font-size: 0.96rem;
              color: #7a7a7a;
            }

            p {
              font-family: @gil_medium;
              font-size: 0.96rem;
              color: #7a7a7a;
            }

            .office {
              display: flex;
              flex-direction: column;
              gap: 2px;
            }
          }

          &.reach-us {
            gap: 16px;
          }
        }
      }
    }

    .download-container {
      display: flex;
      flex-direction: row;

      img {
        flex: 1 1 0;
      }
    }
  }

  .social-container {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 24px;
    background: #f0f0f0;

    p {
      font-family: @gil_medium;
      font-size: 0.96rem;
      color: #a3a3a3;
      text-align: center;
    }

    .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 24px;

      img {
        width: 36px;
        height: 36px;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }

  .auth-page {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .image-container {
      width: 100%;
      height: 34vh;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: -webkit-fill-available;
        position: absolute;
        top: -20px;
        transform: scale(1.35);
        object-fit: contain;
      }
    }

    .auth-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      margin-top: -12px;

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 0 32px;

        img {
          width: 180px;
          object-fit: contain;
        }
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      padding: 16px 40px 0 40px;
      align-items: center;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input-container {
          display: flex;
          flex-direction: column;
          gap: 4px;

          label {
            font-family: @gil_medium;
            font-size: 0.76rem;
            color: #666666;
          }

          input {
            width: -webkit-fill-available;
            height: 40px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            background: #fafafa;
            border-radius: 8px;
            padding: 12px;
            font-family: @gil_medium;
            font-size: 0.88rem;
            color: #54432e;

            &::placeholder {
              color: #a3a3a3;
            }
          }
        }

        button {
          background: #54432e;
          border: none;
          border-radius: 8px;
          padding: 12px 16px;
          font-family: @gil_bold;
          font-size: 1.08rem;
          color: #fff;
          cursor: pointer;
          margin-top: 8px;
        }
      }
    }

    .providers-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 20px 0;

      .divider-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 0 48px;
        margin-bottom: 8px;

        .d-line {
          flex: 1;
          height: 1px;
          background: #e0e0e0;
        }

        p {
          font-family: @gil_medium;
          font-size: 0.88rem;
          color: #666666;
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-bottom: 8px;

        .social {
          width: 56px;
          height: 56px;
          object-fit: contain;
          cursor: pointer;
          border: 2px solid rgba(0, 0, 0, 0.08);
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 26px;
            height: 26px;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }

      p {
        font-family: @gil_medium;
        font-size: 0.88rem;
        color: #666666;
        text-align: center;

        span {
          color: #54432e;
          text-decoration: underline;
        }
      }
    }
  }

  .verification-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .verification-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      padding: 0 40px;

      .image-container {
        width: 48px;
        height: 48px;
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        h2 {
          font-family: @gil_bold;
          font-size: 1.24rem;
          color: @color_primary;
          text-align: center;
        }

        p {
          font-family: @gil_medium;
          font-size: 0.96rem;
          color: #7a7a7a;
          text-align: center;

          span {
            color: #54432e;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .form-container {
        form {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .input-container {
            display: flex;
            width: 100%;

            .otp-inputs {
              display: flex;
              flex-direction: row;
              gap: 12px;
              justify-content: center;
              width: 100%;

              input {
                width: 48px;
                height: 48px;
                border: 1px solid rgba(0, 0, 0, 0.08);
                background: #fafafa;
                border-radius: 8px;
                padding: 12px;
                font-family: @gil_bold;
                font-size: 1.32rem;
                color: #54432e;
                text-align: center;

                &::placeholder {
                  color: #a3a3a3;
                }
              }
            }
          }

          button {
            background: #54432e;
            border: none;
            border-radius: 8px;
            padding: 12px 16px;
            font-family: @gil_bold;
            font-size: 1.08rem;
            color: #fff;
            cursor: pointer;
            margin-top: 8px;
            width: 100%;
            font-weight: 100;
          }
        }
      }

      button {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 12px 16px;
        font-family: @gil_bold;
        font-size: 1.08rem;
        color: #54432e;
        cursor: pointer;
        margin-top: 8px;
        width: 90%;
        font-weight: 100;
      }
    }
  }

  .dashboard-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 16px;
    overflow: hidden;

    .bottom-nav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.06);

      .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }

      &.dark {
        background: #181817;

        .nav-item {
          img {
            filter: invert(1);
          }
        }
      }
    }

    &.profile {
      background: #0b0c0c;
      overflow-y: scroll !important;
      padding: 0;
      padding-top: 40px;

      .profile-photo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .photo-border-wrapper {
          display: inline-block;
          padding: 4px; // border width
          border-radius: 50%; // or 16px for rounded
          background: linear-gradient(
            -145.119deg,
            #f58b20 0%,
            #fccaaa 24%,
            #ea99db 46%,
            #cc8af1 73%,
            #fdabbf 100%
          );
          box-shadow: 0px 0px 250px 0px #db61c11b, 0px 0px 250px 0px #db61c144,
            0px 0px 174.72000122070312px 0px #db61c172,
            0px 0px 87.36000061035156px 0px #db61c127,
            0px 0px 24.959999084472656px 0px #db61c1ba,
            0px 0px 12.479999542236328px 0px #db61c11c;

          .photo-container {
            width: 120px;
            height: 120px;
            border-radius: 50%; // or 16px
            overflow: hidden;
            background: #0b0c0c; // or your background
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%; // or 16px
            }
          }
        }

        .glow {
          position: absolute;
          width: 200px;
          height: 200px;

          &.left {
            background: url(/assets/profile/glow-left.png);
            top: -100px;
            left: -100px;
            z-index: 10;
            background-position: center;
            background-size: cover;
            filter: blur(52px);
          }

          &.right {
            background: url(/assets/profile/glow-right.png);
            top: -100px;
            right: -100px;
            z-index: 10;
            background-position: center;
            background-size: cover;
            filter: blur(52px);
          }
        }
      }

      .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 16px 0;
        padding: 0 16px;

        h3 {
          font-family: @gil_semibold;
          line-height: 26px;
          font-size: 1.42rem;
          color: #fff;

          span {
            font-family: @gil_bold;
          }
        }

        .status-container {
          display: flex;
          flex-direction: row;
          gap: 8px;
          background: #1f1d20;
          border-radius: 8px;
          padding: 6px 12px;
          align-items: center;

          img {
            width: 28px;
            height: 28px;
          }

          p {
            font-family: @gil_semibold;
            font-size: 0.96rem;
            color: #ed942f;
          }

          &.active {
            border: 1px solid #ed942f;

            p {
              color: #ed942f;
            }
          }

          &.not-active {
            border: 1px solid #ed2f2f;

            p {
              color: #ed2f2f;
            }
          }
        }
      }

      .form-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        padding: 0 16px;

        .input {
          display: flex;
          flex-direction: column;
          position: relative;

          img {
            position: absolute;
            top: 12px;
            left: 12px;
            width: 24px;
            height: 24px;
          }

          input {
            width: -webkit-fill-available;
            background: #191919;
            border-radius: 8px;
            padding: 12px;
            padding-left: 44px;
            font-family: @gil_medium;
            font-size: 1rem;
            color: #fff;

            &::placeholder {
              color: #666666;
            }
          }
        }

        .input-row {
          display: flex;
          gap: 8px;
          width: 100%;

          .input {
            flex: 1 1 0;
            min-width: 0;
          }
        }

        .gallery-container {
          display: flex;
          flex-direction: row;
          gap: 8px;
          margin: 8px 0 12px 0;
          width: 100%;

          .upload-container {
            width: 180px;
            height: auto;
            border: 2px dashed rgba(255, 255, 255, 0.24);
            border-radius: 12px;
            display: flex;
            gap: 4px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: #191919;
            flex: 0.6;
            padding: 12px;

            img {
              width: 36px;
              height: 36px;
              object-fit: contain;
            }

            p {
              font-family: @gil_medium;
              font-size: 0.76rem;
              color: #7a7a7a;
              margin-top: 4px;
              text-align: center;
              line-height: 14px;
            }
          }

          .img-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;
            min-width: 160px;
            flex: 1;

            .img-box {
              width: 100%;
              aspect-ratio: 1 / 0;
              background: #191919;
              border-radius: 8px;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 20px;
                height: 20px;
                object-fit: cover;
              }
            }
          }
        }

        button {
          font-family: @gil_extrabold;
          font-size: 1rem;
          background: linear-gradient(
            -92.715deg,
            rgba(243, 216, 170, 90%) 0%,
            rgba(222, 188, 125, 92%) 32%,
            #ad823d 100%
          );
          color: #3d2908;
          border: none;
          border-radius: 8px;
          padding: 12px 16px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          transition: box-shadow 0.3s ease;
          flex: 1;
          text-wrap: nowrap;
          box-shadow: inset 0px 4px 4px 0px rgba(61, 41, 8, 80%),
            inset -4px -4px 4px 0px #3d2908;

          &:hover {
            box-shadow: inset 0px 6px 6px 0px rgba(61, 41, 8, 90%),
              inset -6px -6px 6px 0px #3d2908;
          }
        }
      }

      .membership-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background: #292929;
        padding: 24px 16px 80px 16px;

        h3 {
          font-family: @gil_semibold;
          font-size: 1.24rem;
          color: #707070;
          line-height: 22px;
          text-align: center;

          span {
            font-family: @gil_bold;
            color: #fff;
          }
        }

        .packages-container {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-top: 12px;
          padding: 0;

          .packs-container {
            display: flex;
            flex-direction: row;
            gap: 16px;
            overflow-x: scroll !important;
            scrollbar-width: none; /* Firefox */

            .package {
              flex: 1;
              background: #191919;
              min-width: 300px;
              border-radius: 20px;
              border: 1.5px solid #666666;
              padding: 16px;

              .content {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding-bottom: 20px;

                .tag {
                  border: 1px solid #525252;
                  background: #292929;
                  width: fit-content;
                  padding: 6px 12px;
                  border-radius: 8px;

                  p {
                    font-family: @sf_medium;
                    font-size: 0.88rem;
                    letter-spacing: 0.32px;
                    color: #fff;
                  }
                }

                span {
                  font-family: @gil_bold;
                  font-size: 2.24rem;
                  color: #fff;
                  line-height: 1;
                }

                p {
                  font-family: @gil_medium;
                  font-size: 1.08rem;
                  color: #7a7a7a;
                  line-height: 20px;
                }
              }

              hr {
                border: 1px solid #3d3d3d;
              }

              .features {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 24px 8px 32px 8px;

                .feature {
                  display: flex;
                  flex-direction: row;
                  gap: 12px;

                  p {
                    font-family: @gil_medium;
                    font-size: 1rem;
                    letter-spacing: 0.32px;
                    color: #cccccc;
                  }
                }
              }

              button {
                font-family: @gil_extrabold;
                font-size: 1rem;
                width: 100%;
                background: linear-gradient(
                  -92.715deg,
                  rgb(208, 208, 208) 0%,
                  rgb(255, 255, 255) 32%,
                  #141414 100%
                );
                color: #3d2908;
                border: none;
                border-radius: 80px;
                padding: 12px 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                transition: box-shadow 0.3s ease;
                flex: 1;
                text-wrap: nowrap;
                box-shadow: inset 0px 4px 4px 0px rgba(56, 55, 53, 0.8),
                  inset -4px -4px 4px 0px #b6b4b1;
              }

              &.active {
                border: 1.5px solid #e7d594;
              }
            }

            .best-pack {
              .content {
                .tag {
                  border: 1px solid #3f4b6e;
                  background: #1c2029;

                  p {
                    color: #a3cfff;
                  }
                }
              }

              button {
                // background: linear-gradient(
                //   270deg,
                //   #57bbfa 9.66%,
                //   #0396f2 96.07%
                // );
                // border: 1px solid #65ace1;
              }
            }

            .gold-pack {
              // border: 1.5px solid #e7d594;

              .content {
                .tag {
                  border: 1px solid #77654b;
                  background: #2a2621;

                  p {
                    color: #fff5aa;
                  }
                }
              }

              button {
                font-family: @gil_extrabold;
                font-size: 1rem;
                background: linear-gradient(
                  -92.715deg,
                  rgba(243, 216, 170, 90%) 0%,
                  rgba(222, 188, 125, 92%) 32%,
                  #ad823d 100%
                );
                color: #3d2908;
                border: none;
                border-radius: 80px;
                padding: 12px 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                transition: box-shadow 0.3s ease;
                flex: 1;
                text-wrap: nowrap;
                box-shadow: inset 0px 4px 4px 0px rgba(61, 41, 8, 80%),
                  inset -4px -4px 4px 0px #3d2908;
              }
            }
          }
        }

        .payments-container {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 8px 4px;

          span {
            font-family: @gil_semibold;
            font-size: 0.96rem;
            color: #707070;
            text-transform: uppercase;
          }

          .method-container {
            display: flex;
            flex-direction: row;
            gap: 8px;

            .method {
              display: flex;
              flex-direction: row;
              gap: 6px;
              align-items: center;
              justify-content: center;
              flex: 1;
              background: #2e2e2e;
              border-radius: 8px;
              padding: 16px;

              img {
                height: 28px;
                width: auto;
              }

              h3 {
                font-family: @gil_medium;
                font-size: 1.08rem;
                color: #fff;
              }

              &.active {
                border: 1px solid rgba(255, 255, 255, 0.4);
              }
            }
          }
        }
      }
    }
  }
}

.root .whatsapp-section .image-container::-webkit-scrollbar {
  display: none; /* 👉 Scrollbar hide */
}

.remove-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: bold;
  line-height: 18px;
  padding: 0;
}

.sub-menu.open {
  display: flex;
}
.mobile-menu {
  .nav-link {
    font-family: @gil_bold;
    font-size: 1.5rem;
    color: @color_primary;
    padding: 12px 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    p {
      font-family: @gil_medium;
      font-size: 1.08rem;
      color: #4a6c5b;
    }
    .social-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      a {
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
.mobile-disable {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: @color_secondary;
  }
  p {
    font-size: 1rem;
    color: @color_secondary;
    text-align: center;
  }
}

//FullScreen Overlay
.fs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

@media (max-width: 1050px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
}

@media (max-width: 450px) {
}
